.About{
    padding: 0 50px;
    height: 100vh;
    background: black;
    color: #fff;
  }


   .About .About-header{
       font-size: 30px;
       text-align: center;
       padding: 70px 0;
   }

   .header-base{
       font-size: 18px;
       padding-right: 7px;
       font-weight: bold;
       color: crimson;
   }

  
   
   .About-content .About-img{
        height: 400px;
        border-radius: 10px;
   }

   .About-content{
       display: flex;
       align-items: center;
       padding: 20px 0;
   }

   .About-text{
       padding: 10px 60px;
       text-align: justify;
       line-height: 25px;
   }

   .text-head{
       font-size: 30px;
       padding-bottom: 30px;
       font-weight: bold;
   }

   .text-head span{
       color: crimson;
   }
   
.text-content{
padding-bottom: 40px;

}

.About-button{
   font-size: 25px;
   border-radius: 5px;
   background: crimson;
   color: black;
   padding: 8px 15px;
   border-style: solid;
   border-width: 1px;
   border-color: crimson;

}

.About-button:hover{
   color: crimson;
   background: none;
}


@media(max-width:1400px){

        

    .About .About-header::before{
        top: 112%; left: 43.8%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 53.15%;
        
    }


}


@media(max-width:1300px){

        

    .About .About-header::before{
        top: 112%; left: 42.25%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 54%;
        
    }


}

@media(max-width:1200px){

        

    .About .About-header::before{
        top: 112%; left: 41.25%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 54.25%;
        
    }


}

@media(max-width:1100px){

        

    .About .About-header::before{
        top: 112%; left: 40.75%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 54.5%;
        
    }


}

@media(max-width:800px){

        

    .About .About-header::before{
        top: 112%; left: 39%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 55.5%;
        
    }


}

@media(max-width:500px){

    .About{
        padding: 0 20px;
        height: 140vh;
      } 

    .About .About-header::before{
        top: 112%; left: 32.5%;
        
        
    }
 
    
    
    .About .About-header::after{
        top: 112%; left: 59%;
        
    }


    .About-content{
        display: block;
        align-items: center;

    }

    .About-text{
        padding: 10px 0px;
        text-align: justify;
        line-height: 25px;
    }

   .About-content .About-img{
        height: 550px;
        width: 450px;
        padding-left: 0px;
        margin-bottom: 30px;
      
   }

   .text-head{
    font-size: 21px;
    padding-bottom: 30px;
    font-weight: bold;
}

.About-button{
    font-size: 15px;
    
 
 }

 .text-content{
    font-size: 13px;
    
    }



}


@media(max-width:375px){

    
    .About-content .About-img{
        
        width: 330px;
     
   }

   .text-head{
    font-size: 16px;
    padding-bottom: 30px;
}

.About-button{
    font-size: 12px;
 
 }

 .text-content{
    font-size: 9px;
    padding-bottom: 20px;

    
    }

}



@media(max-width:414px){

    .About{
        
        height: 130vh;
      } 

   
    .About-content .About-img{
        
        width: 370px;
        
        
     
   }

   .text-head{
    font-size: 16px;
    padding-bottom: 30px;
}

.About-button{
    font-size: 12px;
 
 }

 .text-content{
    font-size: 9px;
    padding-bottom: 20px;

    
    }
}

@media(max-width:390px){
    
    .About{
        
        height: 135vh;
      } 

   
    .About-content .About-img{
        width: 350px;

   }
    
}

@media(max-width:375px){
    .About{
        
        height: 140vh;
      } 

}

@media(max-width:375px){

    
    .About-content .About-img{
        
        width: 340px;
     
   }
}