.Skill{
    text-align: center;
    height: 100vh;
    padding: 70px 50px;
    background: #fff;
}

.Skill h1{
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
}

.box-img{
 height: 80px;
}

.box{
   background: #fff;
   border-radius: 5px;
   padding: 30px 30px;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.box:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 1, 1, 0.6);
}

.box h3{
    font-size: 19px;
    font-weight: bold;
    color: #666;
}

.box p{
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 20px;
}
   
 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
 }  

 .box a{
     font-size: 20px;
     color: #fff;
     background:rgba(0, 1, 1, 0.6);
    padding: 7px 18px;
    border-radius: 5px;
 }

 .box a:hover{
     letter-spacing: 2px;
 }

@media(max-width:756px){
    .Skill{
        
        height: 130vh;
      } 
 
}

@media(max-width:585px){
    .Skill{
        
        height: 140vh;
      } 
 
}

@media(max-width:536px){
    .Skill{
        
        height: 155vh;
      } 
 
}

 @media(max-width:500px){
    .Skill{
        
        height: 165vh;
      } 

    }


    
    
    

        
